@font-face {
    font-family: 'iconfont';
    src: url('../font/font1/iconfont.eot'); /* IE9*/
    src: url('../font/font1/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/font1/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/font1/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/font1/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.fonticon{
    font-family:"iconfont" !important;
    font-size: 40px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}