body,p,h1,h2,h3,ul,li,input{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    color: #000;
    background: #FFF;
    font: 14px/1.5 "Î¢ÈíÑÅºÚ";
}
li{
    list-style: none;
}