html,body,ul,li,p,div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
#portfolio .layout{
    width: 900px;
    margin: 0 auto;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
#pic-ct{
    position: relative;
}
#pic-ct .item{
    position: absolute;
    width: 280px;
    margin: 10px;
    border: 1px solid #DFDFDF;
    transition: all 0.8s;
}
#pic-ct .item img{
    width: 260px;
    margin: 10px;
}
#pic-ct .item .header{
    margin: 12px;
    padding-bottom: 10px;
    border-bottom:  1px solid #BDBDBD;
}
#pic-ct .item .list-p{
    margin: 10px 15px;
    color: #777371;
}
.hide{
    display: none;
}
#load{
    visibility: hidden;
    background: red;
}
#portfolio .layout .load-more{
    width: 100px;
    height: 50px;
    border-radius: 3px;
    background-color: yellow;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
}
