html,body,ul,li,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
.layout{
    width: 1000px;
    margin: 0 auto;
    /*border: 1px solid;*/
}
.fa-rocket:before {
    content: "\f135";
    font-size: 30px;
    line-height: 1.5;
}
#header a{
    color: #666;
    display: inline-block;
}
#header a:hover{
    color: #333;
    /*height: 40px;*/
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.nav-bar-more {
    position: relative;
}
.navbar > li{
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}
.navbar-more-list{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}
.navbar-more-list li{
    padding: 10px;
    line-height: 1;
}
.navbar-more-list li:nth-child(2){
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}
.nav-bar-more:hover .navbar-more-list {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
}
.nav-bar-more .navbar-more-list li:hover{
    background: #eee;
    padding: 10px;
}

#content .intro ,#footer  .more-about-me{
    background: #b84d45;
    color: #fff;
    padding: 30px 0;
}
.intro h2 ,.instro p {
    padding: 10px 0;
}
.myworks-bar {
    background: #eee;
    padding: 10px;
    margin: 30px 0;
}
.myworks-bar a {
    color: red;
}
.myworks-list ul:after{
    content: '';
    display: block;
    clear: both;
}
.myworks-list ul{
    /*border:2px solid red;*/
}
.myworks-list li{
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.myworks-list img{
    width: 300px;
}
.myworks-list{
    width:1100px;
}
.myworks-list h4 ,.myworks-list p {
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.myworks-list .btn{
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}
.more-about-me {
    text-align: center;
}
.more-about-me p{
    padding: 10px 0;
}
.more-about-me a{
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}
#footer .layout{
    text-align: center;
    margin-top: 20px
}
#footer .layout p {
    padding: 30px;
}