body,html,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Microsoft YaHei";
    font-size:14px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
hr{
    width:100px;
}
h1,h2,h3,h4,p{
    margin: 0 auto;
    padding:10px;
}
.container{
    width: 960px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration:none;
}
#header a{
    color:#fff;
}
.about a:hover{
    text-decoration:underline;
    color: blue;
}
#header{
    height: 100vh;
    background: url(http://book.jirengu.com/jirengu-inc/task/%E4%BB%BB%E5%8A%A119-%E5%AE%9E%E6%88%983/img/bg.jpg) no-repeat;
    background-size: cover;
    margin-top: 0;
    padding-top: 0;
}
#header .container{
    position: relative;
    top: 40%;
}
.btn{
    background:rgba(0,0,0,0.4);
    display:inline-block;
    padding:15px 40px;
}
#header .btn:hover{
    background:rgba(0,0,0,0.7);
}
.about{
    /* text-align:center; */
    padding: 10% 0;
}
.skill{
    background:#337ab7;
    color: #fff;
    padding: 40px 0;
}
.skill .container h2{
    padding:10px;
}

/* .skill .container:after{
  overflow: auto;
} */
.skill .skill-icons{
    display:inline-block;
    overflow: auto;
    width:100%;
    margin: 20px;
}
.skill .skill-icons > li{
    float:left;
    width: 25%;
    color: #fff;
}
.skill .skill-icons > li a{
    text-decoration:none;
    color: #000;
}
.skill .skill-icons > li .btn{
    background: #fff;
}
.callout{
    background: url(http://book.jirengu.com/jirengu-inc/task/%E4%BB%BB%E5%8A%A119-%E5%AE%9E%E6%88%983/img/callout.jpg) no-repeat;
    background-size: cover;
}
.callout p{
    font-size:50px;
    font-weight: bold;
    color: #fff;
    padding: 30% 0;
}
.project{
    background: #fff;
}
.project .container{
    margin-top: 50px;
}
.project1{
    margin: 0 auto;
    width: 990px;
}
.project ul{
    overflow: auto;
    /*border:1px solid;*/
    margin: 30px 0;
}

.project-list > li{
    /*border: 1px solid red;*/
    /*width: 465px;*/
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}
.project-list img{
    /*float:left;*/
    width: 465px;
}
.btn-moreproject{
    color: #fff;
}
.btn-moreproject:hover{
    background:rgba(0,0,0,0.7);
}

#footer{
    background:#337ab7;
    color: #fff;
    font-weight: bold;
}

.btn-click{
    color: #000;
    background: #fff;
}
.btn-click:hover{
    background: #eee;
}
.btn-look{
    color: #fff;
    background: rgba(0,0,0,0.4)
}
.btn-look:hover{
    background: #000;
}
#footer .container{
    padding:50px 0;
    margin-top: 50px;
}
.contact{
    background: #fff;
    color: #000;
}
.contact p{
    padding: 0;
    font-size: 14px;
}
.contact h4{
    margin-bottom: 10px;
}
.contack-information{
    margin-top: 20px;
}
.contack-information a:hover{
    color: #23527c;
    text-decoration: underline;
}
.contact-icon ul:after{
    content: '';
    display: block;
    clear: both;
}
.contact-icon ul .icon{
    color: #337ab7;
    font-size: 50px;
    padding: 50px 10px;
}
.contact-icon ul .icon:hover{
    color: #23527c;
}
.contact-icon ul > li{
    display: inline-block;
}
.contack-information .icon{
    color: #000;
    font-size: 14px;
}
.contact-icon{
    margin: 50px 0;
}
.contact hr{
    margin-bottom: 30px;
}