html,body,ul,li{
    margin:0;
    padding:0;
    font-family:"Microsoft YaHei";
}
#header ,#footer{
    width:100%;
    height:40px;
    background:#eee;
}
#mainbody{
    /*margin-left:200px;*/
    /*margin-right:200px;*/
    /*position:relative;*/
    /*padding:0 10px;*/
}
#mainbody:after{
    content:'';
    display:block;
    clear:both;
}
.aside2{
    width:200px;
    height:150px;
    /*border:1px solid;*/
    float:left;
    background:red;
    margin-left:-200px;
}
.main{
    width:100%;
    /*margin:0 auto;*/
    /*height:100px;*/
    /*background:green;*/
    float:left;
}
.wrap{
    height:150px;
    background:green;
}