@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-11-13 15:43:55
 * @version $Id$
 */
h3{
	background-color: #ccc;
	display: inline-block;
}

/*脱离文档流*/
.container{
	width: 500px;
	height: 400px;
	background-color: #272822;
}
.container .box{
	width: 300px;
	height: 80px;
	background-color: white;
}
.container p{
	color: white;
	font-size: 30px;
}

.container .box:nth-of-type(1){
	position: absolute;
	background-color: rgba(255,0,0, 0.2);
}
.container .box:nth-of-type(2){
	width: 100px;
	height: 100px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-color: blue;
	color: white;
	text-align: center;
	line-height: 100px;
}
.container .box:nth-of-type(3){
	display: none;
	background-color: red;
}

.container .box:nth-of-type(4){
	float: right;
}

/*absolute relative fixed*/
.container1{
	width: 500px;
	height: 200px;
	border: solid 1px #ccc;
}

.container1 .box:nth-of-type(1){
	position: relative;
	width: 300px;
	height:100px;
	display: fixed;
	border: solid 1px red;
}

.container1 .box .subox{
	width: 200px;
	height:  50px;
	margin-top: 20px;
	margin-left: 30px;
	background-color: red;
}
.container1 .box .subox .ab{
	position: absolute;
	left: 20px;
	top: 30px;
	background-color: blue;
}

.container1 .box:nth-of-type(2){
	position: relative;
	background-color: blue;
	width: 50px;
	height: 50px;
	left:100px;
	top: 20px;
}

.container1 .box:nth-of-type(3){
	position: fixed;
	right: 10px;
	top: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #ccc;
}

.container2{
	position: relative;
	width: 600px;
	height:500px;
}
.container2 img{
	position: absolute;
	z-index: -1;
}
.container2 p{
	color: white;
}

/*垂直水平居中*/
.container3{
	position: absolute;
	width: 100px;
	height: 100px;
	line-height: 100px;
	/*top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;*/

	bottom: 50%;
	right: 50%;
	margin-right: -50px;
	margin-bottom: -50px;
	background-color: yellow;
}

/*float*/
.container4{
	width: 500px;
	height: 400px;
	border: 1px solid red;
}

.container4 .box{
	width: 200px;
	height: 130px;
	border: 1px solid black;
}

.container4 .box:nth-of-type(1){
	float:right;
	border-color: #ccc;
}

.container4 .box:nth-of-type(2){
	float:right;
	border-color: blue;
}

.container4 .box:nth-of-type(3){
	width: 400px;
	float:right;
	border-color: blue;
}

/*clear float*/
.container5{
	width: 500px;
	height: 400px;
}

.container5 img
{
	float: left;
	clear: left;
	width: 190px;
	height: 150px;
}

