/*通用样式*/
body,p,ul,li,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*当前页面通用样式*/
body{
    font-family: "微软雅黑";
}
a{
    color: #fff;
}
/*让页面上的内容都居中,宽度固定在1000px 以内*/
.container{
    width: 1000px;
    margin: 0 auto;
}
/***** 第三部分, 写页面功能区块 *****/

/***********头部********************/
#header,#footer{
    height: 50px;
    background: #333;
}
.logo img{
    height: 40px;
    float: left;
}
.nav>ul{
    float: right;
}
.nav>ul li{
    float: left;
    padding: 15px 10px;
    margin: 0 10px;
}
.nav>ul li>a, .copyRight>ul li>a{
    font-size: 18px;
}
.nav>ul li:hover, .copyRight>ul li:hover{
    background: #fff;
}
.nav>ul li:hover a, .copyRight>ul li:hover a{
    color: #333;
}

/***************内容区****************/
#content{
    margin-top: 10px;
}
.aside{
    height: 500px;
    width: 200px;
    float: left;
    background: #EEE;
    margin-right: 10px;
}
#content::after{
    content: "";
    display: block;
    clear: both;
}
.main{
    background: #EEE;
    padding: 50px 10px;
    overflow: hidden;
    color: #656565;
}
.main h1{
    margin-bottom: 30px;
}

/**************底部********************/
.copyRight>ul li{
    float: left;
    padding: 15px 5px;
    margin: 0 5px;
}