.cloudpic{
    position: relative;
    overflow: hidden;
}

.banner{
    position: relative;
    overflow: hidden;
    text-align: center;
    /*margin-left: 197px;*/
}

.banner ul li{

    display: block;

}
.banner img{
    width: 100%;
    height: 100%;
}
/*.banner .banner-words{*/

    /*position: absolute;*/
    /*top: 500px;*/
    /*left: 10px;*/
    /*width: 100%;*/
    /*height: 84px;*/
    /*background-color: rgba(0, 0, 0, 0.2);*/
    /*z-index: 20;*/
    /*line-height: 84px;*/

/*}*/




