
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1471965863'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1471965863#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1471965863') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1471965863') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1471965863#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yuanxingkuaijin:before { content: "\f0012"; }
.icon-yuanxingtingzhi:before { content: "\f0015"; }
.icon-play:before { content: "\e6bb"; }

.icon1 ,.icon2 ,.icon3{
  display:inline-block;
  margin-right:5px;
}
.icon1:hover ,.icon2:hover ,.icon3:hover{
    color:rgba(255,0,0,0.5)
}