@charset "UTF-8";
/**
 * 
 * @authors pd (wqEscq@gmail.com)
 * @date    2016-10-18 15:25:54
 * @version $Id$
 */
.btn{
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #fd6f49;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    color: white;
    width: 40px;
    height: 30px;
    font-size: 16px;
    outline: none;
}


.btn:hover{
    background-color: #c14d21;
    cursor:pointer;
}

.btn:active{
    background-color: #e25f31;
}

