
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473478323'); /* IE9*/
  src: url('iconfont.eot?t=1473478323#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473478323') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473478323') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473478323#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-filefedora:before { content: "\e6da"; }
.icon-linuxdeepin:before { content: "\e671"; }
.icon-linux:before { content: "\e769"; }
.icon-linuxkeyring:before { content: "\e668"; }
.icon-linuxarch:before { content: "\e670"; }
.icon-iconfontlinux:before { content: "\e600"; }
.icon-linuxmint:before { content: "\e669"; }
.icon-linuxubuntu:before { content: "\e66d"; }
.icon-linuxredhat:before { content: "\e66b"; }
.icon-linuxsuse:before { content: "\e66c"; }
.icon-linuxoracle:before { content: "\e676"; }
.icon-linuxubuntu1:before { content: "\e660"; }
.icon-linuxredflag:before { content: "\e66a"; }
.icon-linuxcentos:before { content: "\e66f"; }
.icon-icondiaglinux:before { content: "\e605"; }


.services-connect>li>h1{
  font-size: 5rem;
  color: #ffbe06;
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.team-connect>li>i{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

}