  /***第一部分 重置默认样式***/
html,body,ul,li,ol,dl{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,li{list-style: none;}
a{text-decoration: none;}
p,li,a,h1,h2,h3,h4,h5,h6{text-align: center;}


/***第二部分 设置公共样式***/
html,body{
  width: 100%;
  height: 100%;
  font: 14px/1 "microsoft yahei","hervetica",sans-serif;
}
.container{
  width: 960px;
  margin: 0 auto;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.btn-small{
  display: inline-block;
   padding: 5px 10px;
  color: #000;
  line-height: 30px;
  background-color: #fff;
}
.btn-small:hover,
#content .knowmore a:first-of-type:hover{
  background-color: rgba(255,255,255,.8);
}
.btn-big{
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  background-color: rgba(0,0,0,.4);
}
.btn-big:hover{
  background-color: rgba(0,0,0,.8);
}
hr{
  border-top: 1px solid #eee;
  max-width: 100px;
}
.table{
  display: table;
  height: 100%;
}
.text-center{
  text-align: center;
}
.vertical-middle{
  display: table-cell;
  vertical-align: middle;
}



/***第三部分 设置网页功能区块***/

/**头部**/
#header{
  width: 100%;
  height: 100%;
  background: url(../imgs/bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
#header p{
  font-size: 16px;
}

/**内容部分**/
#content{
  width: 100%;
}

/*简介*/
#content .profile{
  padding: 50px 0;
}
#content .profile p{
  font-size: 20px;
}
#content .profile a:hover{
  color: #23527C;
  text-decoration: underline;
}
/*技能*/
#content .skill{
  padding: 50px 0;
  background-color: #337AB7;
  color: #fff;
}
#content .skill li{
  float: left;
  width: 25%;
  padding: 10px;
}
#content .skill span{
  display: inline-block;
  height: 90px;
  width: 90px;
  font-size: 60px;
  line-height: 90px;
  color: #337AB7;
  background-color: #fff;
  border-radius: 45px;
}
/*插图*/
#content .callout{
  padding: 200px;
  background: url(../imgs/callout.jpg) no-repeat;
  background-size: cover;
}
#content .callout h1{
  color: white;
  font-size: 4.5em;
}
/*作品集*/
#content .portfolio{
  padding: 50px 0;
}
#content .portfolio ul{
  margin-left: -7px;
  margin-right: -7px;
}
#content .portfolio li{
  float: left;
  margin: 15px;
}
#content .portfolio .btn-small{
  width: 140px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: rgba(0,0,0,.4);
}
#content .portfolio .btn-small:hover{
  background-color: rgba(0,0,0,.8);
}
/*了解更多*/
#content .knowmore{
  padding: 50px 0;
  color: #fff;
  background-color: #337AB7;
}
#content .knowmore h4{
  font-size: 16px;
}
#content .knowmore a:first-of-type{
  color: #000;
  background-color: #fff;
}

/**底部**/
#footer{
  padding: 50px 0 20px;
}
#footer h5{
  font-size: 16px;
  margin: 0;
}
#footer .contact-icon li{
  display: inline-block;
  float: left;
  margin: 10px;
  height: 50px;
  overflow: hidden;
}
  .contact-icon{
    width: 210px;
    margin: 0 auto;
  }
.contact-icon:after{
  content: "";
  display: block;
  clear: both;
}
#footer .contact-icon a{
  font-size: 50px;
  color: #337AB7;
}
#footer .contact-icon a:hover{
  color: #23527c;
}
#footer hr{
  margin: 10px auto;
}