ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    box-sizing: border-box;
}
#mod-tab {
    width: 800px;
    margin: 0 auto;
}
.prod {
    position: relative;
    float: left;
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    width: 200px;
}
.text-ul .cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
opacity: 0;
}
.text-ul .cover>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #c81623;
    color: #c81623;
    padding: 10px 15px;
    border-radius: 3px;
    text-align: center;
    background: #fff;
    cursor: pointer;
}
.text-ul .introduce {
    font-size: 12px;
}
.text-ul .price {
    color: red;
}
#mod-tab li.hover .cover {
    opacity: 1;
}
.btn{
  border: 1px solid red;
  border-radius: 5px;
padding: 10px;
color: red;
}
