@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-08-25 23:45:56
 * @version $Id$
 */
table{
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	height: 150px;
}
th,td{
	border: 1px solid #ccc;
}
th{
	width: 100px;
	background-color: #2aa;
	color: #000;
	font-family:bold;
}
td:hover{
   background-color: #eee;
}