*{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "微软雅黑";
}
html, body{
  height: 100%;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.container{
  width: 1000px;
  margin: 0 auto;
}
#header{

}
#header h3{
    float: left;
  font-size:15px;
  color: rgb(157,157,157);
  margin: 20px 20px 20px 0;
}
#header .topnav:after{
  content: '';
  display: block;
  clear: both;
}
#header .topnav li{
  float: left;
margin: 20px;
  color: rgb(157,157,157);
}
#main{
}
#main .title{
  background: rgb(184,77,69);
  width: 100%;
}
#main .title h1{
  color: #fff;
  font-size: 60px;
  padding-top: 30px;
  padding-left: 5px;
}
#main .title p{
  color:rgb(230,194,192);
  font-size: 28px;
  padding: 30px 0;
}
#main .msg{
  margin-top:30px;
  background: #eee;
  border-radius: 3px;
}
#main .msg .topnav:after{
  content: '';
  display: block;
  clear: both;
}
#main .msg .topnav li{
  float: left;
  margin: 10px;
  color: rgb(157,157,157);
}
#main .msg .topnav a{
  color: rgb(189,88,80)
}
#main .little{
  margin-top: 10px;
}
#main .little .topnav:after{
  content: '';
  display: block;
  clear: both;
}
#main .little .topnav li{
  float: left;
margin: 10px 15px 10px 15px;
  border: 1px solid #ccc;
  text-align: center;
}
#main .little .topnav a{
  display: inline-block;
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  margin: 3px 0;
}
#main .service{
  background: rgb(184,77,69);
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 45px 0;
 }
#main .service h2{
  color: #fff;
  font-size: 50px;
}
#main .service p{
  color: #fff;
  font-size: 30px;
}
#footer{
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
#footer p{
  margin-top: 30px;
  font-size: 19px;
}
#footer a{
  font-size: 19px;
  color: rgb(184,77,69);
}
