/*section services*/
#content #services{
    padding:130px 15px;
}
#content #services .services-list{
    width:100%;
}
#content #services .services-list li{
    padding:10px;
    float:left;
    width:33.33%;
    /*-webkit-transform: translateY(200px);*/
    /*transform: translateY(200px);*/
}
#content #services .services-list li .services-icon{
    border-radius:50%;
    width:100px;
    height:100px;
    line-height:100px;
    background-color: #fed136;
    margin:0 auto;
    font-size: 3.5rem;
}
#content #services .services-list li .services-icon:hover{
    box-shadow: 0 0 10px #aaa;
    background-color: #222;
}
#content #services .services-list li .services-icon i{
    color: #fff;
}
#content #services .services-list li h3{
    margin:20px 0 15px 0;
}
#content #services .services-list li p{
    font-size:14px;
    line-height:1.75;
    font-family: "Roboto Slab";
}

/*section portfolio*/
#content #portfolio{
    padding:130px 15px;
    background-color: #eee;
}
#content #portfolio .portfolio-list{

}
#content #portfolio .portfolio-list li{
    padding-left:15px;
    padding-right:15px;
    margin-bottom:30px;
    float:left;
    width:33.33%;
}
#content #portfolio .portfolio-list li a{
    width:100%;
    height:100%;
    display: block;
    position:relative;
}
#content #portfolio .portfolio-list li a .a-hover{
    position:absolute;
    width:100%;
    height:100%;
    z-index:99;
}
#content #portfolio .portfolio-list li a .a-hover i{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-size:4rem;
    display:block;
    color:#fff;
    opacity:0;
}
#content #portfolio .portfolio-list li a .a-hover:hover{
    background-color:rgba(250, 197, 3, 0.9);
    transition:all 0.3s;
}
#content #portfolio .portfolio-list li a .a-hover:hover i{
    opacity:1;
    transition: all 0.3s;
}
#content #portfolio .portfolio-list li a img{
    display: block;
    width:100%;
    height:100%;
}
#content #portfolio .portfolio-list li .portfolio-content{
    background-color:#fff;
    padding:25px 0;
    line-height:1.5;
}
#content #portfolio .loadbtn{
    padding:15px 20px;
    display: inline-block;
    background-color: #fed136;
    color:#fff;
    border-radius:4px;
    cursor:pointer;
}
#content #portfolio .loadbtn:hover{
    transition:all 0.5s;
    background-color:#FEC503;
}

/*section about*/
#content #about{
    padding:130px 15px;
}
#content #about .timelinelist{
    position:relative;
}
#content #about .timelinelist:before{
    position:absolute;
    content: "";
    width:2px;
    height:100%;
    background-color: #eee;
}
#content #about .timelinelist li{
    height:170px;
    position:relative;
    margin-bottom:130px;
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    /*-webkit-animation: moveUp 1.5s ease forwards;*/
    /*animation: moveUp 1.5s ease forwards;*/
}
@-webkit-keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); opacity: 1; }
}
@keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}
#content #about .timelinelist li:last-child{
    margin-bottom:0;
}
#content #about .timelinelist li .tl-img{
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    text-align:center;
    width:170px;
    height:170px;
    border-radius:50%;
    border:8px solid #eee;
    overflow:hidden;
}
#content #about .timelinelist li .tl-img img{
    width:100%;
    height:100%;
}
#content #about .timelinelist li .tl-intro{
    width:41%;
}
#content #about .timelinelist li .tl-intro.rowleft{
    padding:0 20px 20px 100px;
    text-align:right;
    float:left;
}
#content #about .timelinelist li .tl-intro.rowright{
    padding:0 100px 20px 20px;
    text-align:left;
    float:right;
}
#content #about .timelinelist li .tl-intro p{
    margin-top:10px;
    font-size:14px;
    line-height:1.75;
    font-family: "Roboto Slab";
}
#content #about .timelinelist li:last-child .tl-img{
    background-color: #fed136;
}
#content #about .timelinelist li:last-child .tl-img h4{
    line-height:2;
    margin-top:33px;
    color:#fff;
}

/*section team*/
#content #team{
    padding:130px 15px;
    background-color: #eee;
}
#content #team .teamlist>li{
    float:left;
    width:33.33%;
}
#content #team .teamlist>li .tm-img{
    margin:0 auto;
    width:225px;
    height:225px;
    border-radius: 50%;
    border:7px solid #fff;
    overflow:hidden;
}
#content #team .teamlist>li .tm-img img{
    width: 225px;
    height: 225px;
}
#content #team .teamlist>li .tm-intro{
    margin:20px 0 15px 0;
}
#content #team .teamlist>li .tm-intro p{
    font-size:14px;
}
#content #team .teamlist>li .tm-media li{
    margin:0 3px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    border-radius: 50%;
    background-color:#333;
    font-size:20px;
    cursor: pointer;
}
#content #team .teamlist>li .tm-media li:hover{
    transition:all 0.5s;
    background-color:#fed136;
}
#content #team .teamlist>li .tm-media li i{
    color:#fff;
}
#content #team .tm-des{
    margin:55px auto 0;
    width:66.67%;
}
#content #team .tm-des p{
    line-height:1.75;
}

/*section partner*/
#content #partner a{
    display: inline-block;
    width:24%;
    padding:50px 0;
}

/*section contact*/
#content #contact{
    padding:130px 15px;
    width:100%;
    background-image:url("../img/map-image.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-color:#222;
}
#content #contact .blocktitle h1{
    color:#fff;
}
#content #contact .contact-info .cnt-ipt{
    float:left;
    width:50%;
}
#content #contact .contact-info .cnt-ipt input{
    margin-bottom:20px;
    width:95%;
    padding: 20px 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
#content #contact .contact-info .cnt-txt{
    float:right;
    width:50%;
}
#content #contact .contact-info .cnt-txt textarea{
    border-radius: 4px;
    padding: 20px 0 15px 15px;
    width:95%;
    height:212px;
}
#content #contact .cnt-btn{
    margin-top:10px;
    padding:15px 20px;
    display: inline-block;
    background-color: #fed136;
    color:#fff;
    border-radius:4px;
    cursor:pointer;
}
#content #contact .cnt-btn:hover{
    transition:all 0.5s;
    background-color:#FEC503;
}
