#header{
    background:#333;
    height:50px;
    line-height:50px;
}
#header a img{
    margin-left:10px;
    height:40px;
}
#header .navbar{
    float:right;
}
#header ul,li{
    list-style:none;
}
#header .navbar li{
    float:left;
}
#header .navbar a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding:0px 15px;
}
#header .navbar a:hover{
    color: #333333;
    cursor:pointer;
    background-color:white;
}