/*reset*/
body, div, p, ul, ol, dl, dt, dd, li, form, input, table, img, h1, h2, h3, h4, h5, h6{margin:0;padding:0;}
html { font-family:Microsoft YaHei ,Helvetica Neue, Helvetica , Roboto ,  Heiti SC, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 14px; line-height:1.5}
body,html{width: 100%;height:100%;}
a{color:#000;text-decoration:none;cursor: pointer;}
a:link, a:visited{}
a:hover, a:active{text-decoration:none;}
a.on:hover, a.cur:hover, .on a:hover, .cur a:hover{text-decoration:none;}
img, a img{border:0 none;}
ul, ol{list-style-type:none;}
ul:after, ol:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
.vspace{height:10px;font-size:0px;line-height:0px;width:99%;clear:both;}
.text-center{ text-align: center;}

.container{
    width: 1170px;
    margin: 0 auto;
}
.container:after{
    content: '';
    display: block;
    clear: both;
}
.btn{
    padding: 20px 40px;
    background: #fed136;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    border-radius: 5px;
}
.content-box{
    padding: 150px 0;
    text-align: center;
    background: #FFFFFF;
}
.content-box h1.title{
    font-size: 40px;
    margin-bottom: 15px;
}
.content-box p.brief{
    color: #777;
    margin-bottom: 75px;
    font-style: italic;
}
.grey-background{
    background: #f7f7f7;
}
.banner{
    background-image: url("header-bg.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
}
.banner .content{
    padding-top: 300px;
    padding-bottom: 200px;
    color: #ffffff;
}
.banner .content p{
    font-size: 40px;
}
.banner .content h1{
    font-size: 75px;
}
.services{
    text-align: center;
    background: #FFFFFF;
    padding: 150px 0;
}
.services .services-list::after{
    content:'';
    display:block;
    clear: both;
}
.services .services-list > li{
    float: left;
    width: 360px;
    padding:  0 15px;
}
.services .services-list > li > .icon-box{
    color: #fed136;
}
.services .services-list > li > h3{
    margin: 15px 0;
}
.portfolio .portfolio-list:after{
    content: '';
    display: block;
    clear: both;
}
.portfolio .portfolio-list > li{
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;
}
.portfolio .portfolio-list > li > img{
    width: 360px;
}
.portfolio .portfolio-list > li > img:hover{
    background: rgba(254,209,54,.9);
}
.portfolio .portfolio-list > li > .white-box{
    padding: 28px 10px;
    background: #FFFFFF;
}
.portfolio .portfolio-list > li > .white-box h4{
    font-size: 18px;
}
.portfolio .portfolio-list > li > .white-box p{
    font-size: 16px;
}
.team .team-list:after{
    content: '';
    display: block;
    clear: both;
}
.team .team-list > li{
    float: left;
    width: 360px;
    padding: 0 15px;
}
.team .team-list > li > img{
    border: 10px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;
}
.team .team-list > li > h4{
    font-size: 18px;
}
.team .team-list > li > p{
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}
.team .team-list > li > .share{
    width: 100%;
    text-align: center;
}
.team .team-list > li > .share .link{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    margin: 0 10px;
    transition: all .3s;
}
.team .team-list > li > .share .link:hover{
    background: #fed136;
}
.team .long-brief{
    width: 750px;
    margin: 42px auto 0;
    color: #777;
}