
@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot?t=1476258349'); /* IE9*/
  src: url('iconfont/iconfont.eot?t=1476258349#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff?t=1476258349') format('woff'), /* chrome, firefox */
  url('iconfont/iconfont.ttf?t=1476258349') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg?t=1476258349#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-socialjavascript:before { content: "\e893"; }
.icon-jquery:before { content: "\e605"; }
.icon-html:before { content: "\e693"; }
.icon-html-copy:before { content: "\e707"; }
.icon-css:before { content: "\e622"; }
.icon-wbdiconsoftcss:before { content: "\e6a2"; }
.icon-css1:before { content: "\e844"; }
.icon-pxreact2:before { content: "\e600"; }
.icon-0010blog:before { content: "\e60c"; }
.icon-github:before { content: "\e69f"; }
.icon-sina:before { content: "\e62a"; }
.icon-weibiaoti1:before { content: "\e60a"; }
.icon-qq:before { content: "\e606"; }
.icon-zhihu:before { content: "\e619"; }
.icon-html1:before { content: "\e638"; }
.icon-filecss:before { content: "\e60b"; }
.icon-js:before { content: "\e612"; }
.icon-call:before { content: "\f0061"; }
.icon-mail:before { content: "\e609"; }
.icon-mail1:before { content: "\e7ba"; }
.icon-call1:before { content: "\e662"; }
.icon-call2:before { content: "\e602"; }
.icon-call3:before { content: "\e654"; }
