/*基本页面重置样式*/
html,body{
    color: #000;
    background: #fff;
    height: 100%;
    font: 12px/1.5 Arial,"微软雅黑",sans-serif;
}
body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,li,ol,input,textarea,th,td,legend{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
input:focus{
    outline: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}