body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#connect{
    width: 100%;
}

/*第一-屏幕开始*/
.the-first-screen-bg{
    width: 100%;
    height: 100vh;
    background: url("../img/bg.jpg");
}
.the-first-screen-connect{
    text-align: center;
    width: 960px;
    height: 100vh;
    /*border: black solid 1px;*/
    margin: 0 auto;
}
.the-first-screen-center{
    display: table-cell;
    vertical-align: middle;
    width: 960px;
    height: 100vh;
}
.the-first-screen-center>h1{

}
.the-first-screen-center>p{

}
.the-first-screen-center>a{
    text-decoration: none;
    color: azure;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
    background:rgba(0,0,0,0.5);
}
.the-first-screen-center>a:hover{
    background-color: rgba(0,0,0,0.8);
}
/*第一-屏幕结束*/

/*第二个-标题开始*/
.the-second-title{
    padding-top: 100px;
    padding-bottom: 100px;
}
.the-second-title-connect{
    width: 960px;
    margin: 0 auto;
}
.the-second-title-center{
    text-align: center;
}
.the-second-title-center>p>a{
    text-decoration: none;
}
/*第二个-标题结束*/
/*第3个-标题开始*/
.the-third-skill{
    background-color: dodgerblue;
}
.the-third-skill-connect{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 60px;
}
.the-third-skill-connect>h1{
    color: aliceblue;
}
.the-third-skill-fonts{
    list-style: none;
}
.the-third-skill-fonts:after{
    content: '';
    clear: both;
    display: block;
}
.the-third-skill-fonts>li{
    float: left;
    list-style: none;
    width: 25%;
}
.the-third-skill-fonts>li>h1{
    color: aliceblue;
    font-size: 100px;
}
.the-third-skill-fonts>li>h5{
    color: aliceblue;
    font-size: 20px;
}
.the-third-skill-fonts>li>p{
    color: aliceblue;
    font-size: 20px;
}

/*第3个-标题结束*/