.banner{
    position: rji'shu'zhelative;
    overflow: hidden;
    /*margin-left: 197px;*/
}

.banner ul li{
    width:1100px;
    height: 600px;
    display: inline-block;

}
.banner img{

    width: 1170px;
    height: 600px;
    z-index: 10;
    text-align: center;
}
.banner .banner-words{
    width: 100%;
}


.banner a{

    width: 100px;
    height: 100px;

}
.banner .unslider-arrow img{
    width: 30px;
    height: 30px;
}



