@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-09-20 14:42:07
 * @version $Id$
 */
table{
    border-collapse: collapse;
    width: 300px;
    height: 100px;
}
th,td{
    border: 1px solid #ccc;
    text-align: center;
}

th{
    background-color: blue;
}

tr:hover{
    background-color: #ccc;
}