*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
h3, p, a, h2, h4{
  text-align: center;
}
h2{
  font-size: 40px;
  font-weight: bold;
}
h3{
  font-size: 28px;
}

.container{
  width: 960px;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
hr{
  margin: 20px auto;
  border-top: 1px solid #eee;
  max-width: 100px;
}
.btn2{
  display: inline-block;
  width: 90px;
  height: 40px;
  line-height: 40px;
  color: #4a4a4a;
  background: #fff;
  text-align: center;
}
.btn2:hover{
  background: #dedede;
}
.btn1{
  display: inline-block;
  width: 130px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);;
  text-align: center;
}
.btn1:hover{
  color: #e0e0e0;
  background: rgba(0, 0, 0, 0.6);
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
a{
  color: #337ab7;
}
a:hover{
  color: #30699a;
}
#header{
  width: 100%;
  height: 100%;
  background-image: url(image/bg.jpg);
  background-size: cover;
}
#header .table{
  display: table;
  height: 100%;
}
#header .banner{
  display: table-cell;
  vertical-align: middle;
}
#header .banner p{
  padding-top: 30px;
  padding-bottom: 20px;
}
#content .about{
  padding: 50px 0;
}
#content .about h3{
  padding: 20px;
}
#content .about p{
  font-size: 20px;
}
#content .skills{
  padding: 50px 0;
  color: #fff;
  background: #337ab7;
}
#content .skills li{
  float: left;
  padding: 10px;
  width: 25%;
  text-align: center;
}
#content .skills li>i{
  font-size: 100px;
}
#content .skills li>h4{
  padding: 20px 0;
}
#content .skills li>p{
  padding-bottom: 10px;
}
#content .paragraph{
  padding: 200px 0;
  color: #fff;
  background: url(image/paragraph.jpg);
  background-size: cover;
}

#content .works{
  padding: 50px 0;
}
#content .works ul{
  margin-right: -20px;
}
#content .works li{
  float: left;
  width: 470px;
  height: 305px;
  margin-bottom: 20px;
  margin-right: 20px;
}
#content .works li img{
  width: 470px;
  height: 305px;
}
#content .click{
  padding: 50px 0;
  background: #337ab7;
}
#content .click h4{
  padding: 20px;
  color: #fff;
  font-size: 18px;
}
#content .click .bigger-btn{
  background: #fff;
  color: #000;
}
#content .click .bigger-btn:hover{
  background: #e0e0e0;
}
#footer{
  padding: 50px 0;
}
#footer h4{
  padding: 20px;
}
#footer .info{
  margin-top: 20px;
}
#footer .info li .iconfont{
  display: block;
  text-align: center;
}

#footer .icon{
  padding: 20px;
  text-align: center;
}
#footer .icon li{
  display: inline-block;
  margin: 10px;
}
#footer .icon a>i{
  color: #337ab7;
  font-size: 50px;
}
#footer .icon a>i:hover{
  color: #30699a;
}
