
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1474817557'); /* IE9*/
  src: url('iconfont.eot?t=1474817557#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474817557') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474817557') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474817557#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-rocket:before { content: "\e656"; }
.icon-sanjiaoxing-copy:before { content: "\e673"; }
