*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	height: 100%;
	width: 100%;
}
ul,li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
#nav-bar{
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
#nav-bar .logo{
    color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 30px;
    line-height: 60px;
    font-style: italic;
}

.box1{
	float: right;
}
.box1:after{
 content: '';
 display: block;
 clear: both;
}
.box1>li{
	float: left;

}
.box1 a{
	    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    padding:0 15px;
   line-height: 60px;
}
.box1 a:hover{
	color: #fed136;
}
#header{
	background-image: url(img/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
}
#header h2{
       display: block;
	font-size: 46px;
	color: #fff;
	padding-top: 266px;
	font-style: italic;
}
#header h1{
	display: block;
	font-size: 75px;
	padding-top: 30px;
	color:#fff;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#header .more{
	display: inline-block;
	padding: 20px 40px;
	color: #fff;
	background-color: #fed136;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	border: 1px solid #fed136;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 200px;
	 font-weight: bold;
}
#header .more:hover{
 background:rgb(254,197,3);
}
.services{
	text-align: center;
	padding: 150px 0;

}
.services:after{
	content: '';
	display: block;
	clear:both;
}
.services h3{
	font-size: 40px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	 font-weight: bold;

}
.services p{
	margin-top: 20px;
	font-size: 16px;
	color: rgb(119,127,170);
	font-style: italic;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.box2{
	float: left;
}
.box2:after{
 content: '';
 display: block;
 clear: both;
}
.box2>li{
	float: left;
	padding-top: 90px;
	margin-left: 26px;

}
.box2 li img{
 width: 60px;
 height: 60px;
}
.box2 li h4{
	font-size: 18px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.box2 li p{
	color: black;
}
.portfolio{
	background: rgb(247,247,247);
	text-align: center;
	padding: 150px 0;
}
.portfolio:after{
	content: '';
	display: block;
	clear:both;
}
.portfolio .top{
	font-size: 40px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	 font-weight: bold;

}
.portfolio .mid{
	margin-top: 20px;
	font-size: 16px;
	color: rgb(119,127,170);
	font-style: italic;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.box3{
	float: left;
	padding-top: 100px;

}
.box3:after{
 content: '';
 display: block;
 clear: both;
}
.box3>li{
	float: left;
	position: relative;
	    margin-left:40px;
	    background: #fff;
	    padding-bottom: 20px;
}
.portfolio .main-bg {
	position: absolute;
	    top: 0;
	    width: 350px;
	    height: 253px;
	    background: #EAC135;
	    opacity: 0.9;
			display: none;
}
.portfolio .main-bg .bg-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 16px;
  margin-left: -25px;
  margin-top: -12px;
  border-radius: 3px;
  background: white;
}
.portfolio .main-bg .bg-vline {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 50px;
  margin-left: -8px;
  margin-top: -29px;
  border-radius: 3px;
  background: white;
}
.portfolio a:hover .main-bg{
  display: block;
}
.box3 li>p{
	font-size: 20px;
	font-style: normal;
	color: black;
		 font-weight: bold;
		 margin-top: 40px;
	}
.box3 li>i{
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px
}
.about{
	text-align: center;
	padding: 150px 0;
}
.about:after{
	content: '';
	display: block;
	clear: both;
}
.about .top{
	font-size: 40px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	 font-weight: bold;

}
.about .mid{
	margin-top: 20px;
	font-size: 16px;
	color: rgb(119,127,170);
	font-style: italic;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
margin-bottom: 40px;
}
.about .time-line {
    position: relative;
}
.about .time-line:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -2px;
    height: 100%;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    z-index: -1;
}
.about img, .line-last-img {
    border: 1px solid;
    width: 132px;
    height: 132px;
    border: 4px solid #eee;
    border-radius: 50%;
}
.line-last-img {
    position: relative;
    left: 535px;
    display: table;
    text-align: center;
    background: rgb(254, 209, 54);
    color: white;
}
.line-last-text {
    display: table-cell;
    vertical-align: middle;
}
.time-event h4 {
    margin-bottom: 10px;
    font-size: 15px;
		margin-left: -125px;
margin-right: -125px;
}
.time-event p {
    line-height: 1.7;
    font-size: 12px;
    color: #666;
		margin-left: -125px;
margin-right: -125px;
}
.time-line> li:nth-child(2n+1) .time-event {
    float: left;
    text-align: right;
    width: 370px;
}
.time-line> li:nth-child(2n) .time-event {
    float: right;
    text-align: left;
    width: 370px;
}
.time-line> li {
    overflow: hidden;
}
.time-line> li:nth-child(2n+1) img {
    float: right;
    margin-right: 535px;
    margin-bottom: 125px;
}
.time-line> li:nth-child(2n) img {
    float: left;
    margin-left: 535px;
    margin-bottom: 115px;
}
.our-amazing-team{
	background: rgb(247,247,247);
	text-align: center;
	padding: 150px 0;
	margin-top: 100px;
}
.our-amazing-team:after{
	content: '';
	display: block;
	clear: both;
}
.our-amazing-team .top{
	font-size: 40px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	 font-weight: bold;

}
.our-amazing-team .mid{
	margin-top: 20px;
	font-size: 16px;
	color: rgb(119,127,170);
	font-style: italic;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
margin-bottom: 40px;
}
.box5{
	float: left;

}
.box5:after{
 content: '';
 display: block;
 clear: both;
}
.box5>li{
	float: left;
}
.our-amazing-team .jpg{
    border: 1px solid;
		width: 232px;
    height: 232px;
    border: 4px solid #eee;
    border-radius: 50%;
		margin-left: 130px;
}
.main-name{
	margin-top: 10px;
margin-left: 123px;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: bold;
}
.main-description{
	margin-top: 10px;
margin-left: 123px;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.icons-box{
	margin-top: 20px;
	margin-left: 117px;
}
.icons>img{
		width: 30px;
    height: 30px;
}
.main-q{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	display: inline-block;
margin-top: 53px;
}
.mge:after{
	content: '';
	display: block;
	clear: both;
}
.mge li{
	margin: 90px 0;
	margin-left: 80px;
}
.contact-us{
	background:url(img/message-bg.jpg);
		text-align: center;
	    padding: 150px 0;
}
.contact-us:after{
	content: '';
	display: block;
	clear: both;
}
.box6{
}
.box6:after{
 content: '';
 display: block;
 clear: both;
}
.box6>li{
	float: left;
}
.contact-us .top{
	font-size: 40px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	 font-weight: bold;
	 color: #fff;

}
.contact-us .mid{
	margin-top: 20px;
	font-size: 16px;
	color: rgb(119,127,170);
	font-style: italic;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
margin-bottom: 40px;
}
.contact-us .form1{
	display: inline-block;
	text-align: center;
}
.contact-us li input{
	width: 500px;
height: 50px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 10px;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.contact-us textarea{
	width: 500px;
	height: 169px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-left: 10px;
}
.contact-us .submit{
width: 200px;
height: 50px;
border: 1px solid #ccc;
border-radius: 10px;
margin-top: 10px;
background: #fed136;
cursor: pointer;
}
.contact-us .submit:active{
	background: rgb(254,197,3);
}
.footer .box7{
	float: left;

}
.box7:after{
 content: '';
 display: block;
 clear: both;
}
.box7>li{
	float: left;
	margin:30px 0;
	margin-left: 150px;
}
.box7  .end{
	font-size: 20px;
	color: #fed136;
}
