@font-face {
  font-family: 'iconfont';  /* project idï¼š"187274" */
  src: url('//at.alicdn.com/t/font_0vyw10n2nq74lsor.eot');
  src: url('//at.alicdn.com/t/font_0vyw10n2nq74lsor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_0vyw10n2nq74lsor.woff') format('woff'),
  url('//at.alicdn.com/t/font_0vyw10n2nq74lsor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_0vyw10n2nq74lsor.svg#iconfont') format('svg');
}
html,body,ul,li{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		html, body {
		  height: 100%;
		  width: 100%;
		  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
		  font-size: 14px;
		}
		li, a, h1, h2, h3, h4, p {
  			text-align: center;
		}
		li {
  			list-style: none;
		}
		hr{
			margin-top: 20px;
			margin-bottom: 20px;
			border-top: 1px solid #eee;
			max-width: 100px;
		}
		h1 {
		  font-size: 3.5em;
		  font-weight: normal;
		  
		}
		h2{
			font-size: 30px;
			font-weight: normal;
		}
		h3,h4{
			font-weight:normal;
		}
		a {
  			text-decoration: none;
		}
		a.btn-bigger{
			height: 50px;
			width: 140px;
			line-height: 50px;
		}

		#header{
			background: url('img/bg.jpg');
			width: 100%;
  			height: 100%;
  			background-size: cover;

		}
		#header h3 {
		  font-size: 24px;
		}
		.table{
			display: table;
			height: 100%;
		}
		.container{
			width: 960px;
			margin: 0	auto;

		}
		.vertical-center{
			display: table-cell;
			vertical-align: middle;
		}
		.text-center{
			text-align: center;
		}
		.about{
			font-size: 21px;
		}
		.about a{
			color: #337ab7;
		}
		.about a:hover{
			text-decoration: underline;
			color:#337ab7;
		}
		.clearfix:after{
			content: '';
			clear: both;
			display: block;
		}
		#content .about {
  			padding: 50px 0;
		}
		#content .services{
			padding: 50px 0;
			color: white;
			background-color: #337ab7;
		}

		#content .services li{
			float: left;
			padding: 10px;
			width: 25%;
		}
		#content .services span {
  			font-size: 112px;
		}
		.callout{
			padding: 200px 0;
			color: white;
			background: url('img/callout.jpg');
			background-size: cover;
		}
		.portfolio{
			padding: 50px 0;

		}
		.portfolio ul{
			margin-right: -30px;
			
		}
		.portfolio li{
			float: left;
			width: 465px;
			height: 305px;
			margin-bottom: 30px;
			margin-right: 30px;
		}
		.portfolio li img{
			width: 465px;
			height: 305px;
		}
		.btn1{
			display: inline-block;
			width: 140px;
			height: 30px;
			line-height: 30px;
			color: white;
			background-color: rgba(0, 0, 0, 0.4);
			text-align: center;
		}
		.btn1:hover{
			background-color: rgba(0, 0, 0, 0.7);

		}
		.call-to-action{
			padding: 50px 0;
			background-color:#337ab7;
			color: white;
		}
		.btn2{
			display: inline-block;
			width:90px;
			height: 30px;
			line-height: 30px;
			color: black;
			background-color: white;
			text-align: center;
		}
		.btn2:hover{
			background-color: #eee;
		}

		#footer {
  			padding: 100px 0;
		}
		#footer .contact-information {
  margin-bottom: 30px;
}
#footer .contact-information li.icon-phone {
  display: block;
}
		#footer .contact-inco{
			text-align: center;

		}
		.contact-inco li{
			display: inline-block;
			margin: 10px;
		}
		.iconfont {
    font-family:"iconfont" !important;
    font-size:40px;
    color: #337ab7;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}