html,body,ul,li,a,h1,h2,h3,h4,h5,h6,p,div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font:14px/1.5 normal;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.layout{
    width:1000px;
    margin:0 auto;
}
#header .navbar:after{
    content:"";
    display:block;
    clear:both;
}
#header .navbar .nav{
    float:left;
}
#header .navbar .nav>li{
    float:left;
    padding:0 10px;
}
#header .navbar .logo{
    color:#666;
    display:inline-block;
    float:left;
    padding:0 20px 0 0;
    height:50px;
    line-height:50px;
}
#header .navbar .logo .iconfont{
    font-size:30px;
}
#header .navbar .nav>li .iconfont{
    font-size:16px;
}
#header .navbar .nav>li{
    position:relative;
    height:50px;
    line-height:50px;
}
#header .navbar .nav>li a{
    color:#666;
}
#header .navbar .nav .droplist{
    display:none;
    border:1px solid #ccc;
    left:0;
}
#header .navbar .nav .droplist li{
    border-bottom:1px dashed #ccc;
    padding:10px 5px;
    line-height:1;
}
#header .navbar .nav .droplist li:last-child{
    border-bottom:none;
}
#header .navbar .nav>li:hover .droplist{
    display:block;
    position:absolute;
    background-color: #fff;
}
#header .introduction{
    padding:30px 0;
    width:100%;
    background-color:#B64E48;
    color:#fff;
}
#content .location{
    margin-top:35px;
    padding:10px 0 10px 10px;
    background-color: #eee;
    border-radius: 3px;
}
#content .location a{
    color:#B64E48;
}
#content .works{
    padding:30px 0 10px 0;
}
#content .works .boxs{
    margin-left: -50px;
}
#content .works .boxs:after{
    content:"";
    display:block;
    clear:both;
}
#content .works .boxs li{
    margin-left:50px;
    margin-bottom:20px;
    border:1px solid #ccc;
    width:300px;
    height:315px;
    text-align: center;
    line-height: 1;
    float:left;
}
#content .works .boxs a img{
    display:block;
    width:298px;
    height:200px;
}
#content .works .boxs li h3{
    text-align: left;
    padding:15px 0 0 10px;
}
#content .works .boxs li p{
    text-align: left;
    padding:15px 0 0 10px;
}
#content .works .boxs .btn{
    margin:10px 0;
    display:inline-block;
    text-align: center;
    line-height: 33px;
    width:46px;
    height:33px;
    border:1px solid #ccc;
    border-radius: 3px;
}
#content .aboutme{
    padding:20px 0;
    width:100%;
    text-align: center;
    color:#fff;
    background-color: #B64E48;
}
#content .aboutme .btn{
    margin:10px 0 0 0;
    display:inline-block;
    line-height: 33px;
    width:46px;
    height:33px;
    border:1px solid #ccc;
    border-radius: 3px;
    color:#fff;
}
#footer{
    text-align: center;
    padding:30px 0;
}
#footer p{
    border-top:1px solid #ccc;
    padding:30px 0 0 0;
}
