@charset "utf-8";
html,body,ul,li{
	margin:0;
	padding:0;
}
body{
	font-family: "Microsoft Yahei";
}
html, body, #header{
	width:100%;
	height:100%;
}
a{
	text-decoration:none;
}
li{
	list-style: none;
}
#header{
	background:url(../images/bg.jpg) 0 0 no-repeat;
	background-size:cover;
}
.wrap{
	width:960px;
	margin:0 auto;
}
.table{
	display:table;
	height:100%;
}
.text-center{
	text-align:center;
}
.vertical-center{
	display:table-cell;
	vertical-align: middle;
}
.btn{
	display:inline-block;
	width:140px;
	height:46px;
	line-height:46px;
	color:#fff;
	font-size: 14px;
	text-align: center;
	background:rgba(0,0,0,0.4);
}
.btn-more:hover{
	background:rgba(0,0,0,0.8);
}
#content .about,
#content .skill,
#content .production,
#content .self-info{
	padding:50px 0;
}
.about p{
	font-size:18px;
}
.about p a{
	color:#337ab7;
}
.about p a:hover{
	text-decoration:underline;
	color:#23527c;
}
.skill,.self-info{
	background-color: #337ab7;
	color:#fff;
}
.skill hr, .production hr,#footer hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    max-width: 100px;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.skill .clearfix li{
   float:left;
   width:25%;
   padding:10px;
   box-sizing:border-box;
}
.skill .clearfix li>.iconfont{
	font-size: 100px;
}
.clearfix li>p{
	font-size:14px;
}
.btn-skill{
	width: 95px;
	height: 30px;
	line-height: 30px;
	color:#000;
	background-color:#fff;
}
.info-detail{
	padding:200px 0;
	background:url(../images/callout.jpg);
	background-size:cover;
	font-size:14px;
	color:#fff;
}
.info-detail h1{
	font-size:4em;
}
.production hr{
	color:#ccc;
}
.production li{
	float:left;
	width:50%;
	padding-right:30px;
	padding-bottom:30px;
	box-sizing:border-box;
}
.production li img{
	width:100%;
}
.production .btn:hover{
	background-color:rgba(0,0,0,0.7);
}
.btn-white{
	background:#fff;
	color:#333;
}
.btn-drak:hover{
    background: rgba(0,0,0,0.7);
}
#footer{
	padding:100px 0;
}
.tel,.mail{
	font-size: 16px;
	vertical-align: top;
	margin:0;
}
.tel img{
	margin-right:5px;
}
.mail a{
	color: #337ab7;
}
.mail a:hover{
	color:#23527c;
	text-decoration: underline;
}
.contact-icon >li{
	display:inline-block;
	margin:10px;
}
.contact-icon a{
	font-size:30px;
    color: #337ab7;
}
.contact-icon a:hover{
    color: #23527c;
}
a.icon-github{
	font-size: 35px;
}