
        @font-face {font-family: "iconfont";
          src: url(tu/iconfont.eot?t=1472622183); /* IE9*/
          src: url(tu/iconfont.eot?t=1472622183#iefix) format('embedded-opentype'), /* IE6-IE8 */
          url(tu/iconfont.woff?t=1472622183) format('woff'), /* chrome, firefox */
          url(tu/iconfont.ttf?t=1472622183) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
          url(tu/iconfont.svg?t=1472622183#iconfont) format('svg'); /* iOS 4.1- */
        }

        .iconfont {
          font-family:"iconfont" !important;
          font-size:16px;
          font-style:normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
        }

        /*这是第一页*/

        html,body,ul,li,div,p,h1{
          margin: 0;
          padding: 0;
        }

        html,body,#head{
          height: 100%;
        }

        ul,li{
          list-style: none;
        }

        a{
          text-decoration: none;
          color: #fff;
        }

        .textcontent{
          width: 1150px;
          text-align: center;
          margin: 0 auto;
        }

        .nav{
          height: 70px;
          line-height: 70px;
          background: #000;
          position: fixed;
          top: 0;
          right: 0;
          left:0;
          z-index: 2;
        }

        .aspecial{
          font-style: italic;
          font-size: 30px;
          font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
          color:#fed136;
          margin-right:220px;
        }

        .ulone li{
          float: left;
          color: #fff;
          font-size: 15px;
          margin: 0 32px;
          font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        li:hover a{
          color:#fed136;
        }

        .pag1{
          background: url(header-bg.jpg);
          background:cover;
          height: 80%;
          background-position: center;
        }

        .pag1 > .textcontent{
          display: table;
          height: 100%
        }

        .divcell{
          display:table-cell;
          vertical-align: middle;
          color: #fff;
          font-size: 100px;
          font-size: 50px;
        }

        .btn{
          width:280px;
          height: 70px;
          background: #fed136;
          font: bold 30px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          border-radius: 8px;
          line-height: 70px;
          display: inline-block;
          margin-top:30px;
        }

        .btn:hover{
          background-color: #f6bf01;
        }

        .pag1 .p1{
          font:italic 40px "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
          color: #fff;
        }

        .pag1 .p2{
          font: bold 70px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          font-weight: 800;
          margin: 20px;
          color: #fff;
        }

        /*这是第二页*/

        .p1{
          font:bold 40px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          padding-top:120px;
          color: #000;
        }

        .p2{
          margin: 10px;
          font: italic 20px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          color: #999;
          margin:20px;
        }

        .pag2 .p1{
          padding-top:20px;
        }

        .ulfather:after{
          content:"";
          display:block;
          clear:both;
          margin-bottom:100px;
        }

        .ulchild{
          width: 380px;
          display: inline-block;
          text-align: center;
          margin-top:30px;
          float: left;
        }

        .circle{
          width: 100px;
          height: 100px;
          background: #fed136;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          border-radius: 50px;
          display: inline-block;
        }

        .ulchild li .iconfont{
          color:#fff;
          font-size: 40px;
          position: relative;
          top: 22px;
          z-index: 1
        }

        .li2{
          margin:20px;
          font: bold 20px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        .li3{
          margin:20px;
          font: 15px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          color:#999;
        }

        /*第三页*/

        .pag3{
          background:#eee;
        }

        .pag3 .textcontent::after{
          display: block;
          content: "";
          clear: both;
          margin-bottom: 100px;
        }

        .p3ulch{
          display:inline-block;
          border:1px solid #eee;
          width:360px;
          height:360px;
          background:#fff;
        }

        .p3a{
          position: relative;
        }

        .p3ab{
          background:#f6bf01;
          width:360px;
          height:260px;
          text-align: center;
          line-height: 260px;
          display: none;
          position: absolute;
          top: -246px;
        }

        .p3ab .iconfont{
          color:#fff;
          font-size: 40px;
        }

        .p3img{
          width:360px;
          height:260px;
        }

         .p3a:hover .p3ab{
          display:block;
          opacity: 0.8;
        }

        .p3ulch .li4{
          margin-top:40px;
          font: bold 20px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        .p3ulch .li5{
          font: 15px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          color:#999;
        }

        .p3ulfa>li{
          float: left;
          margin: 20px 10px;
        }

        /*第四页*/

        .p3{
          margin:20px;
          font: bold 20px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          text-align:right;
          margin:10px;
        }

        .p4{
          margin:20px;
          font: 15px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          color:#999;
          text-align:right;
          margin:10px;
        }

        .contentleft{
          width:470px;
          height:200px;
          float:left;
        }

        .circle2{
          background:#eee;
          width:150px;
          height:150px;
          border-radius:75px;
          text-align:center;
          float:left;
          margin-left:20px;
        }

        .circleimg{
          width:130px;
          height:130px;
          border-radius:65px;
          position:relative;
          top:10px;
        }

        .pag4 li{
          margin-top:40px;
          margin-bottom:40px;
        }

        .pag4 li:after{
          content:'';
          display:block;
          clear:both;
        }

        .contentright{
          width:470px;
          height:200px;
          float:right;
        }

        .circle3{
          background:#eee;
          width:150px;
          height:150px;
          border-radius:75px;
          text-align:center;
          float:right;
          margin-right:40px;
        }
        .p5{
          margin:20px;
          font: bold 20px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          text-align:left;
          margin:10px;
        }
        .p6{
          margin:20px;
          font: 15px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          color:#999;
          text-align:left;
          margin:10px;
        }

        .circle4{
          background:#eee;
          width:150px;
          height:150px;
          border-radius:75px;
          text-align:center;
          display:inline-block;
          margin-left:-15px;
        }

        .circlechild{
          background:#fed136;
          width:130px;
          height:130px;
          border-radius:65px;
          text-align:center;
          font: bold 20px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          color:#fff;
          position:relative;
          top:10px;
          left:10px;
          display:table;
        }

        .circlechild>div{
          display:table-cell;
          vertical-align:middle;
        }
        .divline{
          position: relative;
        }

        .line:after{
          width: 2px;
          content: "";
          position: absolute;
          background: #f1f1f1;
          top: 0;
          bottom: 0;
          left: 50%;
          z-index: -1;
          margin-left: -10px;
        }
        .line{
          margin-bottom: 100px;
        }

        /*第五页*/

        .pag5{
          background:#eee;
        }

        .personbg{
          width: 260px;
          height: 260px;
          background: #fff;
          border-radius: 130px;
          text-align: center;
          display: inline-block;
        }
        .person{
          width: 240px;
          height: 240px;
          border-radius: 120px;
          position: relative;
          top: 10px;

        }
        .p7{
          font: bold 20px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          margin-top: 20px;
        }
        .p8{
          font: 15px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          color:#999;
          margin-bottom: 10px;
        }
        .pag5 .iconfont{
          font-size: 25px;
          color: #fff;
          margin: 10px;
          line-height: 42px;
        }
        .bgiconfont{
          width: 45px;
          height: 45px;
          background-color: #000;
          border-radius: 22.5px;
          display: inline-block;
        }
        .bgiconfont:hover{
          background: #fed136;
        }
        .p5float{
          float: left;
          display: inline-block;
          margin: 60px;
        }
        .p5floatfa::after{
          content: "";
          display: block;
          clear: both;
        }
        .textp5{
          width: 800px;
          display: inline-block;
          margin-bottom: 80px;
        }

        /*第六页*/

        .pag6  li{
          float: left;
          margin: 40px;
        }
        .ulfloat::after{
          content: "";
          display: block;
          clear: both;
        }

        /*尾页*/

        #foot{
          background: url(map-image.png);
          height: 85%;
          background-position: center;
          background-color:  #000;
        }
        #foot .p1{
          color:#fff;
        }
        .mess input{
          width: 520px;
          height: 60px;
          margin: 20px;
          border-radius: 5px;
          font-size: 20px;
          padding-left: 20px;
        }


        .footli1{
          float: left;
        }

        .mess textarea{
          width: 520px;
          height:265px;
          border-radius: 5px;
          float:left;
          font-size: 20px;
          padding-left: 10px;
          padding-top: 10px;
          margin-left: 30px;
          margin-top: 20px;
        }
        .messchild:after{
          content: "";
          display: block;
          clear: both;
        }
        .footli3 input{
          background: #fed136;
          width: 300px;
          color: #fff;
          border: 2px solid #fed136;
          border-radius: 5px;
          font-weight: bold;
        }
        .lastli2 .iconfont{
          font-size: 25px;
          color: #fff;
          margin: 10px;
          line-height: 42px;
        }
        .last{
          height: 100px;
        }
        .lastli1{
          font:  bold 15px Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
          color: #000;
          float: left;
          line-height: 100px;
        }
        .lastli3 a{
          color: #fed136;
          font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        .lastli3 a:hover{
          text-decoration: underline;
        }
        .lastli3{
          float: right;
          line-height: 100px;
          margin-top: -5px;
        }
        .lastli2{
          display: inline-block;
          margin-top: 25px;

        }
        .lastul{
          text-align: center;
        }
