body{
    margin: 0;
    padding: 0;
}
.header{
    background: url("../img/header-bg.jpg");
    height: 100vh;

}
.header:after{
    connect:'';
    display: block;
    clear: both;
}
.header-center{
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
}
.header-center:after{
    connect:'';
    display: block;
    clear: both;
}
.header-logo{
    line-height: 4rem;
    float: left;
}
.header-logo>h1{
    color: #ffbe06;
    margin: 0;
    font-family: "Abyssinica SIL";
}
.header-nav{

    line-height: 4rem;
    float: right;
}
.header-nav>ul{
    margin: 0;
    list-style: none;
}
.header-nav>ul:after{
    content: '';
    display: block;
    clear: both;
}
.header-nav>ul>li{
    padding: 0 5px;
    float: left;
}
.header-nav>ul>li>a{
    color: #fffdef;
    font-size: 1.2rem;
    text-decoration: none;
}
.header-nav>ul>li>a:hover{
    color: orange;
}
.header-start{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #fffdef;
    height: 80vh;
}
.header-start>h2{
    font-style: oblique;
    font-size: 2.5rem;
    margin-top: 200px;
}
.header-start>h1{
    font-family: "Montserrat Alternates Black";
    font-size: 4.5rem;
}
.header-start>h3>a{
    border-radius: 3px;
    line-height: 30px;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    background-color: #e5e02d;
}
.header-start>h3>a:hover{
    background-color: #ffbe06;
}
.services{}
.services-center{
    width: 1000px;
    margin: 0 auto;
}
.services-connect{

}
.services-title{
    padding: 50px 0;
    text-align: center;
}
.services-title>h1{
    font-size: 3rem;
    color: #555;

}
.services-title>h2{
    color: #555555;
}
.services-connect{
    overflow: hidden;
    list-style: none;
    padding-bottom: 100px;

}
.services-connect:after{
    connect:'';
    display: block;
    clear: both;

}
.services-connect>li{
    text-align: center;
    padding: 9px;
    width: 301px;
    float: left;
}
.services-connect>li>h1{
    font-size: 5rem;
    color: #ffbe06;
}
.services-connect>li>h2{
    color: #333333;
}
.services-connect>li>p{
    color: #555555;
}
.portfolio{
    background-color: #e0e0e0;
}
.portfolio-center{
    width: 1000px;
    margin: 0 auto;
}
.portfolio-title{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow:hidden;
    text-align: center;
}
.portfolio-title>h1{
    color: #333333;
    font-size: 3rem;
}
.portfolio-title>p{
    color: #555555;
}
.portfolio-connect{
    list-style: none;
    padding-bottom: 100px;
}
.portfolio-connect:after{
    content: '';
    clear: both;
    display: block;
}
.portfolio-connect>li>h6{
    color: #555555;
}
.portfolio-connect>li>p{
    color: #cccccc;
}
.portfolio-connect>li{
    background-color: white;
    margin: 8px ;
    width: 300px;
    float: left;
    text-align: center;
}
.portfolio-connect>li>a{
    display: block;
    text-align: center;
    width: 300px;
    height: 300px;
    background: url("../img/golden.png") 0 0 no-repeat;
}
.portfolio-connect>li>a{
    text-decoration:none;
}
.portfolio-connect>li>a>div{
    width: 300px;
    height: 300px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(255, 211, 55, 0);
}
.portfolio-connect>li>a>div>i{
    display: none;
    color: white;
    font-size: 5rem;
}
.portfolio-connect>li>a:hover>div{
    background-color: rgba(255, 211, 55, 0.9);

}
.portfolio-connect>li>a:hover>div>i{
    display: inline;

}
.about{

}
.about-center{
    width: 1000px;
    margin: 0 auto;

}
.about-connect{
    padding: 100px 0;

}
.about-title{
    padding: 100px 0;
    text-align: center;

}
.about-title>h1{
    font-size: 3rem;
}
.about-title>p{
    color: #cccccc;
}
.about-row-zuo{

}
.about-row-zuo{
    content: '';
    display: block;
    clear: both;
}
.about-row-yuan{
    background-image: url("../img/2.jpg");
    margin: 0 auto;
    width: 160px;
    height: 160px;
    border: 5px #cccccc solid;
    border-radius: 85px;
}
.about-row-zuo-text{
    margin-top: -170px;
    height: 160px;
    width: 350px;
}
.about-row-you-text{
    float: right;
    margin-top: -170px;
    height: 160px;
    width: 350px;
}
.about-row-shuxian{

    margin: -10px auto;
    height: 160px;
    width: 1px;
    background-color: #cccccc;
}
.team{
    background-color: #e7e7e7;
}
.team-center{
    width: 1000px;
    margin: 0 auto;
}
.team-title{
    text-align: center;
    padding-bottom: 30px;
}
.team-title>h1{
    padding: 30px 0;
    font-size: 3.5rem;
    color: #555555;
}
.team-title>p{
    color: #9a9a9a;
    font-size: 1rem;
}
.team-connect{
    overflow: hidden;
    list-style: none;
    padding-bottom: 100px;
}
.team-connect:after{
    content: '';
    display: block;
    clear: both;
}
.team-connect>li{
    text-align: center;
    float: left;
    width: 301px;
    padding:9px;
}
.team-connect>li>img{
    width: 200px;
    height: 200px;
    border: 5px white solid;
    border-radius: 110px;
}
.team-connect>li>h1{
    color: #555555;
}
.team-connect>li>p{
    color: #9a9a9a;
}
.team-connect>li>i{
    margin: 2px;
    padding: 2px;
    border: 2px black solid;
    border-radius: 16px;
    font-size: 2rem;
}
.about-center-text{
    padding-bottom: 30px;
    text-align: center;
    font-size: 1rem;
    color: #555555;
}
.img-log-bg{
    margin-top: -20px;
    background-color: white;
}
.img-log{
    text-align: center;
    margin: 0px auto;
    width: 1000px;
    padding: 15px;
}
.contact{
    height: 100vh;
    background-color: #333333;
    background-image: url("../img/map-image.png");
}
.contact-center{
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
.contact-title{
    overflow: hidden;
    text-align: center;
}
.contact-title>h1{
    color: white;
    font-size: 3.5rem;
}


.contact-title>p{
    color: #cccccc;
}
.contact-form{
    overflow: hidden;
    text-align: center;
}
.contact-form:after{
    content: '';
    display: block;
    clear: both;
}
.contact-form-inpuut{
    margin: 21px;
    border-radius: 3px;
    width: 450px;
    height: 60px;
    display: block;
}
.contact-form-mail{
    display: block;
    border-radius: 3px;
    width: 450px;
    height: 240px;
    float: right;
    margin-top: -265px;
}
.contact-center>a{
    position: relative;
    top: 100px;
    margin-top: 50px;
    padding: 10px 30px;
    background-color: #e5e02d;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 3px;
    }
.contact-center>a:hover{
    background-color: orange;
}
.footer-center{
    text-align: center;
    margin: 0 auto;
    width: 1000px;
}
.footer-center:after{
    content: '';
    clear: both;
    display: block;
}

.footer-left{
    display: block;
    float: left;
    width: 200px;
}
.footer-left>p{
    line-height: 50px;
    margin: 0px;
    padding: 0px;
}
.footer-right{
    line-height: 50px;
    display: block;
    width: 300px;
    float: right;
}
.footer-right>a{
    padding: 0px;
    margin: 5px;
    line-height: 50px;
    text-decoration: none;
    color: #e5e02d;
}
.footer-center-xxx{
    margin-left: 250px;
    line-height: 50px;
    float: left;
    text-align: center;
}
.footer-center-xxx>i{
    padding: 3px;
    border: 1px black solid;
    border-radius: 2px;
}