body,ul,li{
			margin:0;padding:0;
		}
		.ctn{
			width:300px;
		}
		li{
      text-align: center;
			width:280px;
			height:40px;
			border:1px solid #AAA;
			margin:10px;padding-left: 10px;
			line-height: 40px;
}
		.btn{
			height:40px;
			width:120px;
			color:green;
			text-align: center;
			line-height: 40px;
			border:1px solid green;
			border-radius: 4px;
			margin:10px auto;
			font-weight: bold;
			cursor: pointer;
		}
